
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
    font-family: 'VT323', sans-serif !important;
    font-size: 600;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;
    background-color: #a1694d !important;


}
canvas {
    margin-left: 25%;


    position: fixed;




}
.game-banner {
    position: fixed;
    background-color: rgba(245, 245, 245, 0.6);
    width: 100%;
    height: 65%;
    background-position: left bottom, right bottom;
    background-image: url(assets/goldenAlien.png), url(assets/astronaut.png);
    background-size: 20%, 20%;

    background-repeat: no-repeat;
    z-index: -1;
}

.lore-banner {
    position: fixed;
    background-color: rgba(245, 245, 245, 0.6);
    width: 100%;
    height: 65%;
    background-position: left bottom, right bottom;
    background-image: url(assets/bgsprites/bgsprites_0.png), url(assets/bgsprites/bgsprites_2.png);
    background-size: 20%, 20%;

    background-repeat: no-repeat;
    z-index: -1;
}

.infoSprite {
    width: 10%;
}

.jumbotron {
    background-color: rgba(245, 245, 245, 0.6) !important;
}


.column-image {
    padding-left: 0;

}

.container {
    z-index: -1;
}
